#Python temporary files
*__pycache__/

#Distutils temporary files
*build/
*dist/
*MANIFEST

#Eclipse/PyDev project files
*.project
*.pydevproject

#Idea project files
*.idea/

#Text editor backup files
*~

#Egg metadata files
*.egg-info/
